<!DOCTYPE html>
<html>
<body>
<head>
<div class="h1">
<center><h1 style ="font-family:time new roman">Hiện Tại web đang update</h1></center> 
</div>
<div class="p">
<center><p style ="font-family:time new roman">Bạn hãy quay về trang chủ</p></center> 
</div>

<style>
h1 {
  font-size: 100px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 64px;
}

div.h1 {
	text-align: center;
}

div.p {
	text-align: center;
}
</style>


<style> 

body {
  background-color: lightblue;
}
0
</style>
</head>
</body>
</html>